node_modules/
all_node/
app_dom_tieba.js

assert/videos/
assert/imgs/
assert/dist_ok/
*.mp4
wx_dialog/images/temp/

*.png
*.jpg
**/chrome_user_data/**

*.mp3
*.ts
*.m3u8
user_data/**

myenv/
**/myenv/**
**__pycache__/**

*.pyc

utils\__pycache__/*
up_大型纪录片/assert/神佛无能_我即天道_382f03e2e81d39749d2669094516c50a/神佛无能_我即天道.mp4audio_temp.m4s
**.M4S
**.m4s
bad_vps.txt
